$blue: #2886f0;
$red: #f44747;
$square-bg-color: #cccccc;

#board {
  /*   border: 1px solid black; */
  margin: 0 auto;
  /*Adjust #board width and .square height for responsive*/
  width: 340px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 1rem;
}

.square {
  /*Adjust #board width and .square height for responsive*/
  height: 105px;
  margin-bottom: 1rem;
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  cursor: pointer;
  background-color: $square-bg-color;
  border-radius: 25px;
}
/*For filled squares*/
.red-square {
  background-color: $red; /* #ff4d4d; */
}
.blue-square {
  background-color: $blue; /* dodgerblue;*/
}
/*Made seprate bc X and O squares use different colors*/
.hover-x:hover {
  background-color: $red;
}
.hover-o:hover {
  background-color: $blue;
}
.disabled-square {
  pointer-events: none;
}
.locked-square-start {
  pointer-events: none;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}

.marker-span {
  font-size: 4.6rem;
  color: white;
}

@media only screen and (min-width: 400px) {
  #board {
    width: 380px;
  }

  .square {
    height: 115px;
  }
}

@media only screen and (min-width: 1000px) {
  #board {
    width: 390px;
  }

  .square {
    height: 115px;
  }
}
